@font-face {
  font-family: "iconfont"; /* Project id 3398480 */
  src: url('iconfont.woff2?t=1652943719184') format('woff2'),
       url('iconfont.woff?t=1652943719184') format('woff'),
       url('iconfont.ttf?t=1652943719184') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-biaoqing:before {
  content: "\e600";
}

.icon-hr:before {
  content: "\e616";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-icon_yulan:before {
  content: "\eb8a";
}

.icon-quote:before {
  content: "\e60c";
}

.icon-touxiang:before {
  content: "\e620";
}

.icon-home:before {
  content: "\e6b8";
}

.icon-text:before {
  content: "\e646";
}

.icon-product:before {
  content: "\e611";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-message-fill:before {
  content: "\e84a";
}

.icon-user-fill:before {
  content: "\e7d5";
}

.icon-menu:before {
  content: "\e86b";
}

.icon-product-fill:before {
  content: "\e788";
}

